/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2015
 * @package yii2-tree-manager
 * @version 1.0.6
 *
 * Tree View Style Sheet
 *
 * Author: Kartik Visweswaran
 * Copyright: 2015 - 2016, Kartik Visweswaran, Krajee.com
 * For more JQuery plugins visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.kv-tree-wrapper, .kv-tree-wrapper.form-control {
    height: auto;
    padding: 0;
}

.kv-tree-container {
    overflow: auto;
    padding: 0 5px 5px 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.kv-tree-root {
    display: inline-block;
    background-color: #fff;
    margin-top: 10px;
    padding: 0 5px;
}

.kv-heading-container {
    margin: 4px 6px;
    font-weight: bold;
    font-size: 1.1em;
}

.kv-header-container {
    padding: 5px;
}

.kv-footer-container {
    padding: 5px;
}

.kv-toolbar-container {
    text-align: center;
}

.kv-detail-container {
    overflow: auto;
    min-height: 150px;
    padding: 0 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.kv-detail-container > .alert {
    margin-top: 50px;
}

.kv-detail-heading {
    margin: 0 -20px 15px -20px;
    padding: 5px 5px 5px 15px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}

.kv-detail-heading .btn {
    margin-left: 1px;
}

.kv-detail-crumbs {
    font-size: 18px;
    color: #aaa;
    padding-top: 6px;
    text-shadow: 0 1px 0 #fff;
}

.kv-detail-crumbs .kv-crumb-active {
    color: #777;
    font-weight: bold;
}

.kv-tree-list {
    margin: 0;
    background: #fff;
    position: relative;
    top: 1em;
    width: 100%;
    cursor: default;
}

.kv-node-detail:hover {
    background-color: #e8e8e8;
    cursor: default;
}

.kv-node-indicators {
    float: left;
    background-color: #fff;
}

.kv-node-indicators .kv-node-toggle {
    margin-right: 5px;
    cursor: pointer;
}

.kv-has-checkbox .kv-node-toggle {
    margin-right: 0;
    cursor: pointer;
}

.kv-root-node-toggle {
    margin-right: 5px;
    font-style: normal;
    cursor: pointer;
}

.kv-tree-container .kv-node-unchecked {
    display: inline;
}

.kv-tree-container .kv-node-checked {
    display: none;
}

.kv-has-checkbox .kv-selected > .kv-tree-list .kv-node-detail {
    background-color: #d9edf7;
}

.kv-has-checkbox .kv-selected > .kv-tree-list .kv-node-checked,
.kv-has-checkbox.kv-selected > .kv-tree-root .kv-node-checked {
    display: inline;
}

.kv-has-checkbox .kv-selected > .kv-tree-list .kv-node-unchecked,
.kv-has-checkbox.kv-selected > .kv-tree-root .kv-node-unchecked {
    display: none;
}

.kv-root-node-checkbox {
    font-style: normal;
    margin-right: 5px;
    cursor: pointer;
}

.kv-node-checkbox {
    margin-right: 5px;
    cursor: pointer;
}

ul.kv-tree, .kv-tree ul, .kv-tree li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.kv-tree, .kv-tree ul {
    padding-left: 0.73em;
}

.kv-tree li {
    padding-left: 0.75em;
    border: dotted #333;
    border-width: 0 0 1px 1px;
    line-height: 25px;
}

.kv-tree li ul {
    border-top: 1px dotted #333;
    margin-left: -0.75em;
    padding-left: 1.4em;
}

.kv-tree > li:last-child > ul,
.kv-parent ul li:last-child > ul {
    box-shadow: -5px 0 0 #fff;
}

.kv-tree > li:last-child ul,
.kv-parent ul li:last-child ul {
    margin-bottom: -0.75em;
    padding-bottom: 0.75em;
}

.kv-tree li.kv-parent {
    border-bottom: 1px solid white;
}

.kv-tree-container .kv-node-collapse {
    display: inline;
}

.kv-tree-container .kv-node-expand {
    display: none;
}

.kv-tree-container .kv-collapsed > ul > li {
    display: none;
}

.kv-tree-container.kv-collapsed .kv-tree-root .kv-node-collapse,
.kv-tree-container .kv-collapsed .kv-node-collapse {
    display: none;
}

.kv-tree-container.kv-collapsed .kv-tree-root .kv-node-expand,
.kv-tree-container .kv-collapsed .kv-node-expand {
    display: inline;
}

.kv-icon-05 {
    font-size: 1.05em;
}

.kv-icon-10 {
    font-size: 1.1em;
}

.kv-icon-15 {
    font-size: 1.15em;
}

.kv-icon-20 {
    font-size: 1.2em;
}

.kv-highlight {
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 1px;
}

.kv-loading-search {
    background: #fff url('../img/loading-search.gif') no-repeat center center;
}

.kv-loading-search .kv-tree {
    opacity: 0.45;
    cursor: wait;
}

.kv-loading {
    background: #fff url('../img/loading.gif') no-repeat center center;
    min-height: 150px;
    cursor: wait;
}

.kv-search-container {
    position: relative;
}

.kv-search-input {
    padding-right: 30px;
}

.kv-search-container .kv-search-clear {
    position: absolute;
    padding: 10px;
    right: 0;
}

.kv-search-sm .kv-search-clear {
    font-size: 1.4em;
    padding: 6px 9px;
}

.kv-tree-container .kv-tree {
    margin-top: -10px !important;
}

li.kv-inactive > .kv-tree-list .kv-node-label {
    color: #a94442;
    text-decoration: line-through;
}

li.kv-disabled > .kv-tree-list .kv-node-checkbox,
li.kv-disabled > .kv-tree-list .kv-node-icon,
li.kv-disabled > .kv-tree-list .kv-node-label {
    opacity: 0.45;
    filter: alpha(opacity=45);
}

li.kv-disabled > .kv-tree-list .kv-node-checkbox,
.kv-tree-root.kv-disabled > .kv-root-node-checkbox {
    cursor: not-allowed;
}

li.kv-empty {
    font-style: italic;
    color: #777;
    border-color: #777;
}

li.kv-invisible > .kv-tree-list .kv-node-label {
    font-style: italic;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
}

.kv-tree-nofooter {
    border-bottom: none;
}

.kv-node-detail:focus, .kv-focussed {
    background-color: #f5f5f5;
}

.kv-node-message {
    padding: 60px 0;
    text-align: center;
    color: #999;
    font-size: 1.4em;
}

.kv-tree-container .kv-node-closed, .kv-tree-container .kv-node-opened, .kv-tree-container .kv-icon-parent,
.kv-node-toggle, .kv-parent > .kv-tree-list > .kv-node-detail > .kv-node-icon.kv-icon-child {
    display: none;
}

.kv-parent > .kv-tree-list > .kv-node-detail > .kv-node-icon.kv-icon-parent,
.kv-parent > .kv-tree-list > .kv-node-detail > .kv-node-icon .kv-node-opened {
    display: inline;
}

.kv-collapsed > .kv-tree-list > .kv-node-detail > .kv-node-icon .kv-node-opened {
    display: none;
}

.kv-collapsed > .kv-tree-list > .kv-node-detail > .kv-node-icon .kv-node-closed,
.kv-parent > .kv-tree-list > .kv-node-indicators > .kv-node-toggle {
    display: inline;
}

@media (max-width: 768px) {
    .kv-detail-container {
        margin-top: 20px;
    }
}